__pycache__/
env/
.env
.idea/
*.log
                                                                                                                                                                        davinchi% 
